### **ETL in Python with SQL Server**

In [55]:
# Importing dependencies 
import pandas as pd
from sqlalchemy import create_engine
import pyodbc
import urllib

In [56]:
# Reading csv to dataframe
df = pd.read_csv('../Data/data.txt')

# Viewing dataset
df

  Gender  Age  Name
0      M   20  Mike
1      F   54  Lara

In [57]:
def ETL_SQLServer(Server,db,tablename):
  """
    :param Server: Destination Server
    :param db: Destination Database name MUST ALREADY EXIST
    :param tablename: Created table name
    """
  # SQL table header format
  tablename = tablename.lower()
  tablename = tablename.replace(' ','_')

  quoted = urllib.parse.quote_plus("DRIVER={SQL Server};SERVER=%s;DATABASE=%s"%(Server,db))
  engine = create_engine('mssql+pyodbc:///?odbc_connect={}'.format(quoted))

  df.to_sql('{tb}'.format(tb=tablename), schema='dbo', con = engine, index=False, if_exists='replace')

  return("ETL Successful, {num} rows loaded in table {tb}.".format(num=len(df['Gender']), tb=tablename))

In [58]:
ETL_SQLServer("[SERVER NAME]","Projects","THIS IS A TEST")

'ETL Successful, 2 rows loaded in table this_is_a_test.'