In [ ]:
#
import pandas as pd
import pyodbc

In [ ]:
df = pd.read_csv('../Data/top_4000_movies_data.csv')

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-I9HIN85;'
                      'Database=EURUSD;'
                      'Trusted_Connection=yes;')
cursor = conn.cursor()

# Create Table
cursor.execute('''
		CREATE TABLE EURUSD1506 (
			Time datetime,
			open_price float,
            close_price float, 
            High_price float,
            Low_price float
			)
               ''')

# Insert DataFrame to Table
for row in df.itertuples():
    cursor.execute('''
                INSERT INTO EURUSD1506 (Time, open_price, close_price, High_price, Low_price)
                VALUES (?,?,?,?,?)
                ''',
			    row.time,
			    row.open,
                row.close, 
                row.high,
                row.low
			    )
conn.commit()